body{
    border:solid 1px red;
}
p{
    display:green;
    border: solid 2px red;
  }
p.positioned {
    border: solid 2px red;
    position: absolute;
    top: 110px;
    left:25px; 
  }

  div.positioned {
    border: solid 2px red;
    position: absolute;
    top: 0px;
    left:25px; 
  }  