html {
    font-size: 10px;
  }
  
  h1 {
    background-color: yellow;
    font-size: 5rem;
    letter-spacing: 15px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px red, 2px 2px 1px red;
    text-align: center;
  }
  
  h1 + p {
   
    font-weight: bold;
    
  }
  
  p {
    background-color: black;
    border:solid 2px yellow;
    color: red;        
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    /* text-align: right; */
    line-height: 1.6;
  }
  .lineht_2{
    line-height: 2;
  }
  p::first-line {
       word-spacing: 4px;
  }