body{
    background-color: black;
    color:white;
}

img{
    width: 100px;
    height: 100px;
}


/* @media screen and (min-width:786) {
    body{
        background-color: black;
        color:blue;
       
    }
} */

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }